@inherits LayoutComponentBase

<div class="main-header spectrum spectrum--medium  spectrum--dark">
    Hier ist der Header
</div>
<div class="main">
    <div class="main-nav">
        <NavMenu />
    </div>

    <div class="main-content">
        <div class="main-content-body">
            @Body
        </div>
    </div>
</div>


