<div class="outer" style="flex-grow: 1; height:100%" cdkDropList #nullList="cdkDropList"
    (contextmenu)="openOuterContextMenu($event, outerContextMenu)">
    <div style="padding: 10px 10px 20px 10px; margin-top: 8px; max-height: calc(100% - 30px); overflow-y: auto;"
        cdkDropList (cdkDropListDropped)="drop($event)" #rulesList="cdkDropList">
        <div *ngIf="((actions$ | async) || []).length === 0"
            style="text-align: center; font-size: 1.5em; font-weight: bold; color: #525e7678; line-height: 1.4em; line-height: 2em; margin: 0px 10px;">
            Drop new Action here
        </div>

        <!-- <div class="action-item" *ngFor="let action of (actions$ | async); let i = index;"
            [class.selected]="action.Selected" (click)="clickAction($event, action)"
            (contextmenu)="contextAction($event, action)" cdkDrag cdkDragLockAxis="y">
            <div style="display: flex;">
                <div class="dragHandle" style="padding: 10px 3px 0px 5px;" cdkDragHandle>
                    <div class="title-icon" *ngIf="prepareIcon(GetIcon(action.Item)); let icon">
                        <i *ngIf="icon.type == 'ant'" style="font-size: xx-large; width: 42px; text-align: left;"
                            nz-icon [nzType]="icon.icon" nzTheme="outline"></i>
                        <fa-icon *ngIf="icon.type == 'fa'" style="font-size: xx-large; width: 42px; text-align: left;"
                            nz-icon [icon]="icon.icon"></fa-icon>
                    </div>
                </div>
                <div style="padding: 5px; min-width: 50%; max-width: 50%;">
                    <div>

                        <h2>{{action.Item.ActionType}}</h2>
                    </div>
                    <action-list-details [action]="action.Item"></action-list-details>
                </div>
            </div>
        </div> -->

        <div class="action-item" *ngFor="let action of (actions$ | async); let i = index;" [class.selected]="action.Selected"
            [class.disabled]="action.Item.Enabled" (click)="clickAction($event, action)"
            (contextmenu)="openItemContextMenu($event, itemContextMenu, action)" cdkDrag cdkDragLockAxis="y">
            <div style="display: flex;">
                <div class="dragHandle" style="padding: 10px 0px 0px 5px;" cdkDragHandle>
                    <div class="title-icon" *ngIf="prepareIcon(GetIcon(action.Item)); let icon">
                        <i *ngIf="icon.type == 'ant'" style="font-size: xx-large; width: 42px; text-align: left;"
                            nz-icon [nzType]="icon.icon" nzTheme="outline"></i>
                        <fa-icon *ngIf="icon.type == 'fa'" style="font-size: xx-large; width: 42px; text-align: left;"
                            nz-icon [icon]="icon.icon"></fa-icon>
                    </div>
                </div>
                <div style="padding: 5px; min-width: 50%; max-width: 50%;">
                    <div style="font-size: large; font-weight: bold; color: #292f3b;">{{action.Item.ActionType}}</div>
                    <action-list-details [action]="action.Item"></action-list-details>
                    <!-- <div>{{rule.Item.Order}}</div> -->
                </div>
            </div>


        </div>


    </div>
</div>


<ng-template #outerContextMenu let-context>
    <ul nz-menu nzMode="vertical" class="context-menu">
        <!-- <li nz-submenu nzTitle="Add Rule" nzIcon="menu-unfold">
            <ul class="context-menu">
                <li nz-menu-item (click)="CreateRuleOnTop()">
                    <i nz-icon nzType="double-left" nzTheme="outline" [nzRotate]="90"></i>
                    Top
                </li>
                <li nz-menu-item (click)="CreateRuleOnBottom()">
                    <i nz-icon nzType="double-right" nzTheme="outline" [nzRotate]="90"></i>
                    Bottom
                </li>
            </ul>
        </li> -->
    </ul>
</ng-template>

<ng-template #itemContextMenu let-context>
    <ul nz-menu nzMode="vertical" class="context-menu">
        <!-- <li nz-menu-item (click)="SetRuleEnabled(context.Single, true)" *ngIf="context.Single?.Enabled === false">
            <fa-icon nz-icon [icon]="['fas', 'toggle-on']"></fa-icon>
            Enable
        </li>
        <li nz-menu-item (click)="SetRuleEnabled(context.Single, false)" *ngIf="context.Single?.Enabled === true">
            <fa-icon nz-icon [icon]="['fas', 'toggle-off']"></fa-icon>
            Disable
        </li>
        <li nz-submenu nzTitle="Add Rule" *ngIf="context.Single" nzIcon="menu-unfold">
            <ul class="context-menu">
                <li nz-menu-item (click)="CreateRuleOnTop()">
                    <i nz-icon nzType="double-left" nzTheme="outline" [nzRotate]="90"></i>
                    Top
                </li>
                <li nz-menu-item (click)="CreateRuleBefore(context.Single)">
                    <i nz-icon nzType="up" nzTheme="outline"></i>
                    Before
                </li>
                <li nz-menu-item (click)="CreateRuleAfter(context.Single)">
                    <i nz-icon nzType="down" nzTheme="outline"></i>
                    After
                </li>
                <li nz-menu-item (click)="CreateRuleOnBottom()">
                    <i nz-icon nzType="double-right" nzTheme="outline" [nzRotate]="90"></i>
                    Bottom
                </li>
            </ul>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="RemoveRules(context.Selected)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            Remove
        </li> -->
    </ul>
</ng-template>