:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .action-item {
    margin-bottom: 10px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 3px 1px #cecece;
    background-color: white;
  }
  
  .action-item.disabled {
      opacity: 0.6;
      box-shadow: none;
      background-color: #e2e2e2;
  }
  
  
  .action-item .dragHandle {
    border-right: 1px solid white;
  }
  
  .action-item:hover .dragHandle {
    background-color: #525e76;
    color: white;
  }
  
  .action-item.selected .dragHandle {
    background-color: #292f3b;
    color: white;
  }
  
  .action-item:hover {
    background-color: rgb(178, 183, 194);
    //color: white;
  }
  
  .new-rule.ui.button {
    margin: 0px;
  }
  
  .options {
    background-color: gray;
    height: 50px;
  }
  
  .list-item i {
    background-color: inherit !important;
  }
  
  .cdk-drop-list-dragging .list-item:hover {
    background-color: inherit;
  }
  
  .dragHandle {
    cursor: grab;
  }
  .list-item:hover .dragHandle {
    background-color: #e0e1e2;
  }
  
  .cdk-drop-list-dragging .dragHandle {
    cursor: inherit;
  }
  .cdk-drop-list-dragging .list-item :hover .dragHandle {
    background-color: inherit;
  }
  
  .new-rule.cdk-drag.cdk-drag-placeholder {
    border-radius: 0px !important;
    background-color: #2f2f2f;
    color: whitesmoke;
  }
  
  .list-item.cdk-drag.cdk-drag-placeholder {
    border-radius: 0px !important;
    background-color: #2f2f2f;
    color: whitesmoke;
  }
  
  .outer.cdk-drop-list-dragging > .new-rule.cdk-drag.cdk-drag-placeholder {
    display: none;
  }
  
  .context-menu .item {
      margin:0px!important;
  }
  