@page "/endpoints"

    <div class="absolute-flex">

        <div>

            <h3>Endpoints</h3>
        </div>
        


        <div class="spectrum-Table spectrum-Table--quiet flex-table" role="grid">
            <div class="spectrum-Table-head" style="display: flex" role="row">
                <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader">Column Title</div>
                <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader">Column Title</div>
                <div class="spectrum-Table-headCell" style="flex: 1" role="columnheader">Column Title</div>
            </div>
            <div class="spectrum-Table-body flex-table-body" role="rowgroup">
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Alpha</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Bravo</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Charlie</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Delta</div>
                </div>
                <div class="spectrum-Table-row" style="display: flex" role="row">
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                    <div class="spectrum-Table-cell" style="flex: 1" role="gridcell">Row Item Echo</div>
                </div>
            </div>
        </div>

        <div class="summary">
            Es sind insgemsamt 345 Endpoints
        </div>

    </div>

@code {

}
