@inherits SideNavItemBase


<li class="spectrum-SideNav-item @CssClass">
    <a class="spectrum-SideNav-itemLink" href="@HrefAbsolute">
        @ChildContent
        @*<svg class="spectrum-Icon spectrum-Icon--sizeS spectrum-SideNav-itemIcon" focusable="false" aria-hidden="true">
            <use xlink:href="@Icon" />
        </svg>
        @Text*@
    </a>
</li>
