<basic-modal [variable]="variable" (ok)="ok()" (cancel)="cancel()" [form]="form">
    <form [formGroup]="form" class="ui form">

        <div class="fields" *ngIf="create || raw">
            <div class="twelve wide field" *ngIf="create">
                <label>Variable Name</label>
                <input formControlName="Name" [dbAllowedCharacters]="'[a-zA-Z0-9_]'"/>
            </div>
            <div class="four wide field">
                <label>Type</label>
                <db-dropdown formControlName="Extension" class="selection" #lang>
                    <db-item value="plaintext">Text</db-item>
                    <db-item value="json">Json</db-item>
                    <db-item value="xml">Xml</db-item>
                    <db-item value="html">Html</db-item>
                    <db-item value="typescript">Typescript</db-item>
                    <db-item value="javascript">Javascript</db-item>
                    <db-item value="powershell">Powershell</db-item>
                </db-dropdown>
            </div>
        </div>


        <div class="field flex-grow-column">
            <db-editor formControlName="Content" [language]="language">
            </db-editor>
        </div>
    </form>
</basic-modal>

