<basic-modal [variable]="variable" (ok)="ok()" (cancel)="cancel()" [form]="form">

    <form [formGroup]="form" class="ui form" style="flex-grow: 1; display: flex; flex-direction: column;">

        <div class="required field" *ngIf="create">
            <input formControlName="Name" placeholder="Variable Name" [dbAllowedCharacters]="'[a-zA-Z0-9_]'" [dbSetFocus]/>
        </div>

        <div class="field" style="flex-grow: 1; display: flex; flex-direction: column;">
            <label>Value</label>
            <input formControlName="Content" />
        </div>

        <div *ngIf="error">
            {{error}}
        </div>

    </form>
</basic-modal>
