:host {
    height: 100%;
    display: flex;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-header {
    min-height: 56px;
    max-height: 56px;
    background-color: #525e76;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-header .title-container {
    display: flex;
    align-items: center;
}

.main-header .title-container .title-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-right: 5px;
}

.main-header .title {
    font-size: 1.5em;
    font-weight: bold;
}

.main-header .title.title-only {
    font-size: 2em;
}

.main-header .subtitle {
    font-size: 0.9em;
    font-weight: initial;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #eaeaeb;
    overflow: hidden;
}

.main-content > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-footer {
    min-height: 50px;
    max-height: 50px;
    background-color: white;
    box-shadow: 0px -1px 5px 0px #afafaf;
    z-index: 2;
    display: flex;

    align-items: center;
}

.main-footer .ui.button {
    margin-right: 30px !important;
}

.main-footer .ui.container {
    display: flex;
}

.menu-header {
    min-height: 56px;
    max-height: 56px;
    background-color: #292f3b;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 0px;
    border: none;
    height: 100%;
    min-width: 15rem;
    z-index: 99;
    box-shadow: 0 1px 3px 3px rgba(34, 36, 38, 0.15);
    background-color: white;
}

.menu-footer {
    min-height: 56px;
    max-height: 56px;
    background-color: #2f2f2f;
    color: whitesmoke;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.whitespace {
    flex-grow: 1;
}

.main-content > div.ui {
    overflow: hidden;
}
