<div style="display: flex; width: 100%;">
    <div class="menu-container secondary">
        <div class="menu-header"
            style="display: flex; flex-direction: column; justify-content: center; font-size: 3rem; text-align: center;">
            middler
        </div>
        <db-menu class="secondary padding-top-30" style="margin:0px;width: 100%;">
            <db-header style="text-transform: uppercase;">Configuration</db-header>
            <a db-item class="item" routerLink="/rules" routerLinkActive="active">
                <i class="stream icon"></i>Endpoints Rules
            </a>
            <a db-item class="item" routerLink="/variables" routerLinkActive="active" #variables="routerLinkActive">
                <i class="folder outline icon" [class.open]="variables.isActive"></i>Global Variables
            </a>
        </db-menu>

        <div class="whitespace">

        </div>
    </div>

    <div class="main">
        <ng-container *ngIf="uiContext$ | async; let ui">
            <div class="main-header">
                <div class="title-container ui container">
                    <div class="title-icon" *ngIf="ui.Header.Icon">
                        <i class="big icon" [ngClass]="ui.Header.Icon"></i>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                        <div class="title" [class.title-only]="!ui.Header.SubTitle">
                            {{ui.Header.Title}}
                        </div>
                        <div class="subtitle" *ngIf="ui.Header.SubTitle">
                            {{ui.Header.SubTitle}}
                        </div>
                    </div>

                    <div class="whitespace">

                    </div>

                    <div *ngIf="ui.Header.Outlet">
                        <ng-container [ngTemplateOutlet]="ui.Header.Outlet"></ng-container>
                    </div>

                </div>
            </div>
            <div class="main-content" style="overflow: hidden;">
                <div class="ui" [class.container]="ui.Content.Container" [class.scrollable]="ui.Content.Scrollable">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="main-footer" *ngIf="ui.Footer.Show">
                <div class="ui container">
                    <ng-container *ngIf="ui.Footer.UseTemplate">
                        <ng-container [ngTemplateOutlet]="ui.Footer.UseTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="!ui.Footer.UseTemplate">
                        <div class="ui primary button" *ngIf="ui.Footer.Button1?.Visible"
                            (click)="ui.Footer.Button1?.OnClick()" [class.disabled]="ui.Footer.Button1.Disabled"
                            [class.loading]="ui.Footer.Button1.Loading">
                            {{ui.Footer.Button1?.Text}}</div>
                        <div class="ui grey button" *ngIf="ui.Footer.Button2?.Visible"
                            (click)="ui.Footer.Button2?.OnClick()" [class.disabled]="ui.Footer.Button2.Disabled"
                            [class.loading]="ui.Footer.Button2.Loading">
                            {{ui.Footer.Button2?.Text}}</div>

                        <div class="whitespace">

                        </div>

                        <div *ngIf="ui.Footer.Outlet">
                            <ng-container [ngTemplateOutlet]="ui.Footer.Outlet"></ng-container>
                        </div>

                    </ng-container>


                </div>

            </div>
        </ng-container>
    </div>
</div>

