<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
    <div>


        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="Username" placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="Password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <div nz-row class="login-form-margin">
            <div>
                <label nz-checkbox formControlName="RememberLogin">
                    <span>Remember me</span>
                </label>
            </div>
            
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        
    </div>
</form>