
<action-basic-modal (ok)="ok()" (cancel)="cancel()" [form]="form">
    <form [formGroup]="form" class="ui form">

        <div class="required field">
            <label>RedirectTo</label>
            <input type="text" formControlName="RedirectTo">
        </div>

        <div class="field">
            <db-checkbox formControlName="Permanent" mode="toggle">Permanent</db-checkbox>
        </div>
        <div class="field">
            <db-checkbox formControlName="PreserveMethod" mode="toggle">PreserveMethod</db-checkbox>
        </div>

        <ng-template dbPortalTemplate="ActionModalHeader-Left">
            Url - Redirect
        </ng-template>

    </form>
</action-basic-modal>

