<div class="ui top attached segment" style="width: 500px; background-color: #2f2f2f; color: white;">
    <div class="ui huge header" style="color: whitesmoke;">Url - Redirect</div>
</div>
<div class="ui attached segment" style="width: 500px;">
    <form [formGroup]="form" class="ui form" style="padding:10px; flex-grow: 1; display: flex; flex-direction: column;">

        <div class="required field">
            <label>RedirectTo</label>
            <input type="text" formControlName="RedirectTo">
        </div>


        <div class="required field">
            <label>Permanent</label>
            <input type="text" formControlName="Permanent">
        </div>

        <div class="required field">
            <label>PreserveMethod</label>
            <input type="text" formControlName="PreserveMethod">
        </div>

    </form>
</div>
<div class="ui bottom attached segment" style="display: flex;padding: 3px;">
    <button class="ui tertiary green button" style="flex-grow: 1;" (click)="ok()">Save</button>
    <button class="ui tertiary orange button" style="flex-grow: 1;" (click)="cancel()">Cancel</button>
</div>
