<div class="ui top attached segment modal-header" style="padding: 10px !important; display:flex;">


    <div style="color: whitesmoke; margin: auto;">
        <div
            style="font-size: 2em;font-weight: bold; min-height: 1.4285em; line-height: 1.4285em; color: whitesmoke; margin: auto;">
            Set Password
        </div>

        <div style="font-size: 0.8em;line-height: initial; color: #bbbbbb">

        </div>
    </div>
    <div style="flex-grow: 1;"></div>
    <div style="display: flex; flex-direction: column; justify-content: center;">

    </div>



</div>
<div class="ui attached segment modal-content">
    <form nz-form [formGroup]="form" style="flex-grow: 1; display: flex; flex-direction: column;">

        <nz-form-item>
            <nz-form-control>
                <input nz-input formControlName="Password" placeholder="Password" style="width: 100%;" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <input nz-input formControlName="ConfirmPassword" placeholder="Confirm Password" style="width: 100%;" />
            </nz-form-control>

        </nz-form-item>
        <label nz-checkbox formControlName="ClearPassword">
            Clear Password
        </label>

    </form>
</div>
<div class="ui bottom attached segment modal-footer" style="margin-bottom: 0px;">
    <button nz-button nzType="primary" nzBlock style="margin-right: 1px;" (click)="ok()"
        [disabled]="!form.valid">Save</button>
    <button nz-button nzType="default" class="secondary" nzBlock style="margin-left: 1px;"
        (click)="cancel()">Cancel</button>
</div>