<basic-modal [variable]="variable" (ok)="ok()" (cancel)="cancel()" [form]="form">
    <form nz-form [formGroup]="form" style="flex-grow: 1; display: flex; flex-direction: column;">

        <ng-template dbPortalTemplate="VariableModalHeader-Left">
            {{form.value.Name}}
        </ng-template>

        <ng-template dbPortalTemplate="ModalSubHeader">
            {{variable.Parent}}
        </ng-template>

        <div class="required field" *ngIf="create">
            <nz-form-item>
                <input nz-input formControlName="Name" placeholder="Variable Name"
                    [dbAllowedCharacters]="'[a-zA-Z0-9_]'" [dbSetFocus] />
            </nz-form-item>
        </div>

        <div formGroupName="Content">

            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired nzFor="Username">Username</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="UserName" id="Username" style="width: 100%;" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="5" nzFor="Domain">Domain</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="Domain" id="Domain" style="width: 100%;" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="5" nzRequired nzFor="Password">Password</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="Password" id="Password" style="width: 100%;" />
                </nz-form-control>
            </nz-form-item>

        </div>



    </form>
</basic-modal>