:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
  box-shadow: 0 1px 3px 3px rgba(34, 36, 38, 0.15);
}

.menu-header {
  min-height: 56px;
  max-height: 56px;
  background-color: #292f3b;
  color: whitesmoke;
}

.menu-container {
  flex-grow: 1;
  display: flex !important;
  flex-direction: column;
  margin: 0px;
  border-radius: 0px;
  border: none;

}

.whitespace {
  flex-grow: 1;
}

.menu-footer {
  min-height: 56px;
  max-height: 56px;
  background-color: #2f2f2f;
  color: whitesmoke;
}

.padding-top-30 {
    padding-top: 30px !important;
  }
