.leftmenu {
  width: 16rem !important;
  height: 100%;
  position: fixed;
  border-radius: 0 !important;
  border-top: 0px !important;
  border-bottom: 0px;
  border-left: 0px;
  z-index: 100;
}

.ui.menu .activated.item {
  background-color: rgba(187, 169, 169, 0.15);
}

.ui.menu .active.item {
  color: #e20074;
}
