
<div class="menu-container ui vertical menu">
    <div class="menu-header" style="display: flex; flex-direction: column; justify-content: center; font-size: 3rem; text-align: center;">
        middler
    </div>
    <div>
        <div class="header item padding-top-30">Menu</div>
        <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home
        </a>
    </div>

    <div>
        <div class="header item padding-top-30">Administration</div>
        <a class="item" routerLink="/rules" routerLinkActive="active">
            <i class="stream icon"></i>Endpoints Rules
        </a>
        <a class="item" routerLink="/variables" routerLinkActive="active" #variables="routerLinkActive">
            <i class="folder outline icon" [class.open]="variables.isActive"></i>Global Variables
        </a>
    </div>

    <div class="whitespace">

    </div>
</div>

