
<div class="ui vertical menu leftmenu flex-container">

    <div class="flex-container" style="overflow:auto; direction: rtl">
        <div style="direction: ltr">

            <div>
                <div class="header item padding-top-30">Menu</div>

                <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="vial icon"></i>Home
                </a>

            </div>

            <div>
                <div class="header item padding-top-30">Administration</div>

                <a class="item" routerLink="/rules" routerLinkActive="active">
                    <i class="user icon"></i>Endpoints Rules
                </a>

            </div>

        </div>

    </div>


</div>
