<ng-container *ngIf="(rule$ | async); let rule">




    <form [formGroup]="form" class="ui form"
        style="padding:10px; flex-grow: 1; display: flex; flex-direction: column; overflow: hidden;">

        <db-tabs>

            <db-tab title="Basic" icon="file alternate outline" [content]="basic"></db-tab>
            <db-tab title="Actions" icon="list ol" [content]="actions" mode="remove"> Actions </db-tab>
            <!-- <db-tab title="Permissions" icon="shield alternate"> Permissions </db-tab> -->
            <db-tab title="Debug" icon="bug">
                <div style="overflow: auto; height: 100%;">
                    <pre>{{form.value | json}}</pre>
                </div>
                
            </db-tab>
        </db-tabs>

        <ng-template #basic>

            <div class="ui grid" style="padding-top: 5px;">
                <div class="row">
                    <div class="eleven wide column">

                        <div class="required field">
                            <label>Name</label>
                            <input type="text" formControlName="Name">
                        </div>


                        <div class="required field">
                            <label>Path</label>
                            <input type="text" formControlName="Path">
                        </div>




                        <!-- <query-parameters class="ui container" formControlName="QueryParameters" style="min-height: 200px;"></query-parameters> -->
                    </div>

                    <div class="five wide column" style="padding-top:23px;padding-right: 1.1rem;">


                        <div class="ui styled fluid accordion" (dbOnInit)="initRestrictionsAccordion($event)">
                            <div class="active title">
                                <i class="dropdown icon"></i>
                                Options
                            </div>
                            <div class="active content">
                                <div class="field">
                                    <db-checkbox mode="toggle" formControlName="Enabled" #en>
                                        <span *ngIf="en.checked">Enabled</span>
                                        <span *ngIf="!en.checked">Disabled</span>
                                    </db-checkbox>
                                </div>

                            </div>
                            <div class="title">
                                <i class="dropdown icon"></i>
                                Restrictions
                            </div>
                            <div class="content">
                                <div class="field">
                                    <db-dropdown placeholder="Scheme" formControlName="Scheme" class="selection"
                                        [multiple]="true">
                                        <db-item value="http">http</db-item>
                                        <db-item value="https">https</db-item>
                                    </db-dropdown>

                                </div>
                                <div class="field">
                                    <db-dropdown placeholder="Http Methods" formControlName="HttpMethods"
                                        class="selection" [multiple]="true">
                                        <db-item value="Get">Get</db-item>
                                        <db-item value="Post">Post</db-item>
                                        <db-item value="Put">Put</db-item>
                                        <db-item value="Delete">Delete</db-item>
                                        <db-item value="Patch">Patch</db-item>
                                    </db-dropdown>
                                </div>

                                <div class="field">
                                    <label>Hostname</label>
                                    <input type="text" formControlName="Hostname">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </ng-template>


        <ng-template #actions>

            <middler-rule-actions formControlName="Actions"></middler-rule-actions>

        </ng-template>

    </form>




</ng-container>
