<ag-grid-angular [dbGrid]="grid" class="ag-theme-balham"></ag-grid-angular>

<ng-template #itemsContextMenu let-context>
  <ul nz-menu nzMode="vertical" class="context-menu">
    <li nz-menu-item (click)="AddApiResource()">
      <i nz-icon nzType="user-add" nzTheme="outline"></i>
      Add ApiResource
    </li>
    <li nz-menu-item (click)="EditApiResource(context.First)" *ngIf="context.Single">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      Edit ApiResource
    </li>
    <li nz-menu-item (click)="RemoveApiResource(context.SelectedData)" *ngIf="context.Any">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      Delete ApiResource
    </li>
  </ul>
</ng-template>

<ng-template dbPortalTemplate="Header-Outlet-Right">
  <button nz-button (click)="ReloadApiResourcesList()" ><i nz-icon nzType="sync"></i>Reload Api-Resources</button>
</ng-template>