@using middlerApp.Server.Components

<nav>
    <ul class="spectrum-SideNav">

        <SideNavItem href="/" Icon="#spectrum-icon-18-Home" Text="Home" Match="NavLinkMatch.All">
            <svg class="spectrum-Icon spectrum-Icon--sizeS spectrum-SideNav-itemIcon" focusable="false" aria-hidden="true">
                <use xlink:href="#spectrum-icon-18-Home" />
            </svg>
            Home
        </SideNavItem>

        <SideNavItem href="counter" Icon="#spectrum-icon-18-Layers" Text="Counter">
            <svg class="spectrum-Icon spectrum-Icon--sizeS spectrum-SideNav-itemIcon" focusable="false" aria-hidden="true">
                <use xlink:href="#spectrum-icon-18-TransferToPlatform" />
            </svg>
            Endpoints
        </SideNavItem>

        <SideNavItem href="fetchdata" Icon="#spectrum-icon-18-Layers" Text="Counter">
            <svg class="spectrum-Icon spectrum-UIIcon-Star spectrum-SideNav-itemIcon" focusable="false" aria-hidden="true">
                <use xlink:href="#spectrum-css-icon-Star" />
            </svg>
            Fetch Data
        </SideNavItem>

    </ul>
</nav>



@code {

}
