.center {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: center;
}

.center i {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
