

<div class="outer" style="flex-grow: 1;" cdkDropList #nullList="cdkDropList" (contextmenu)="open($event)">
    <div class="" style="padding-bottom: 50px" cdkDropList (cdkDropListDropped)="drop($event)"
        #rulesList="cdkDropList" >
        <div class="rule-item" *ngFor="let rule of (rules$ | async); let i = index;" [class.selected]="rule.Selected"
            (click)="clickAction($event, rule)" (contextmenu)="contextAction($event, rule)" cdkDrag cdkDragLockAxis="y">
            <div style="display: flex;">
                <div class="dragHandle" style="padding: 10px 0px 0px 5px;" (dblclick)="editRule(rule.Item.Id)" cdkDragHandle>
                    <i class="ellipsis vertical icon"></i>
                </div>
                <div style="padding: 5px; min-width: 50%; max-width: 50%;">
                    <div>
                        <h2>{{rule.Item.Name}}</h2>
                    </div>
                    <div>{{rule.Item.Path}}</div>
                    <!-- <div>{{rule.Item.Order}}</div> -->
                </div>
                <div style="padding: 5px; min-width: 200px; max-width: 200px; ">
                    <div>{{rule.Item.Scheme}}</div>
                    <div>{{rule.Item.Hostname}}</div>
                </div>
                <div style="padding: 5px;">
                    <div>
                        {{rule.Item.Actions?.length || 0}} Actions
                    </div>
                    <span *ngFor="let action of rule.Item.Actions" [attr.data-tooltip]="action.ActionType">
                        <i class="icon"  [ngClass]="GetIcon(action)" ></i>
                    </span>

                </div>
            </div>


        </div>

    </div>
</div>


<div style="overflow: hidden;width: 100%;display: flex;height: 50px;align-items: center;box-shadow: 0px -1px 5px 0px #afafaf;">
    <div class="item" style="padding: 0px 10px;">
        <div class="ui primary button" (click)="SaveOrder()">Save Order</div>
    </div>
    <div class="item" style="flex-grow: 1;">

    </div>


    <div class="item" cdkDropList [cdkDropListConnectedTo]="[rulesList, nullList]"
        style="padding: 0px 10px; width: 180px; height: 100%;align-items: center;display: flex;background-color: #e0e1e2;">
        <div class="new-rule ui fluid button" cdkDrag>Add New Rule</div>
    </div>

</div>




<ng-template #contextMenu let-context>


    <div class="ui vertical secondary menu"
        style="box-shadow: 2px 2px 4px 1px rgba(34, 36, 38, 0.26); background-color: whitesmoke;">
        <div class="item" *ngIf="context.Single" style="font-weight: bold;">
            {{context.Single?.Name}}
        </div>
        <a class="item" *ngIf="context.Single" (click)="editRule(context.Single.Id)">
            <i class="edit icon"></i> Edit
        </a>
        <!-- <a class="item" *ngIf="!context.Single" (click)="createRule()">
            <i class="add icon"></i> Add Rule
        </a> -->
        <a class="item" (click)="RemoveRules(context.Selected)" *ngIf="context.Selected?.length > 0">
            <i class="trash alternate outline icon"></i> Remove
        </a>
        <!-- <div class="ui dropdown item" (fuiOnInit)="initContextMenu($event)">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                <a class="item"><i class="globe icon"></i> Choose Language</a>
                <a class="item"><i class="settings icon"></i> Account Settings</a>
            </div>
        </div> -->
    </div>



</ng-template>
