

<div class="outer ui container" style="flex-grow: 1;" cdkDropList #nullList="cdkDropList" (contextmenu)="open($event)">
    <div class="" style="padding-bottom: 50px" cdkDropList (cdkDropListDropped)="drop($event)" #rulesList="cdkDropList">
        <div class="rule-item" *ngFor="let rule of (rules$ | async); let i = index;" [class.selected]="rule.Selected" [class.disabled]="!rule.Item.Enabled"
            (click)="clickAction($event, rule)" (contextmenu)="contextAction($event, rule)" cdkDrag cdkDragLockAxis="y" (dblclick)="editRule(rule.Item.Id)">
            <div style="display: flex;">
                <div class="dragHandle" style="padding: 10px 0px 0px 5px;" cdkDragHandle>
                    <i class="ellipsis vertical icon"></i>
                </div>
                <div style="padding: 5px; min-width: 50%; max-width: 50%;">
                    <div>
                        <h2>{{rule.Item.Name}}</h2>
                    </div>
                    <div>{{rule.Item.Path}}</div>
                    <!-- <div>{{rule.Item.Order}}</div> -->
                </div>
                <div style="padding: 5px; min-width: 200px; max-width: 200px; ">
                    <div>{{rule.Item.Scheme}}</div>
                    <div>{{rule.Item.Hostname}}</div>
                </div>
                <div style="padding: 5px;">
                    <div>
                        {{rule.Item.Actions?.length || 0}} Actions
                    </div>
                    <span *ngFor="let action of rule.Item.Actions" [attr.data-tooltip]="action.ActionType">
                        <i class="icon" [ngClass]="GetIcon(action)"></i>
                    </span>

                </div>
            </div>


        </div>

    </div>
</div>


<ng-template #addRuleTemplate>
    <div cdkDropList [cdkDropListConnectedTo]="[rulesList, nullList]"
        style="height: 100%;align-items: center;display: flex;background-color: #e0e1e2;">
        <div class="new-rule ui labeled icon fluid primary button" style="width: 200px; " cdkDrag (click)="AddRuleOnEnd()">
            <i class="plus icon"></i>
            Add New Rule
        </div>
    </div>
</ng-template>



<ng-template #contextMenu let-context>


    <div class="ui vertical secondary menu context-menu"
        style="box-shadow: 2px 2px 4px 1px rgba(82, 94, 118, 0.7); background-color: whitesmoke;">
        <div class="item" *ngIf="context.Single" style="font-weight: bold; background-color: #292f3b; color: whitesmoke; border:1px solid whitesmoke">
            {{context.Single?.Name}}
        </div>
        <a class="item" *ngIf="context.Single?.Enabled === false" (click)="SetRuleEnabled(context.Single, true)">
            <i class="toggle on icon"></i> Enable
        </a>
        <a class="item" *ngIf="context.Single?.Enabled" (click)="SetRuleEnabled(context.Single, false)">
            <i class="toggle off icon"></i> Disable
        </a>
        <a class="item" *ngIf="context.Single" (click)="editRule(context.Single.Id)">
            <i class="edit icon"></i> Edit
        </a>
        <!-- <a class="item" *ngIf="!context.Single" (click)="createRule()">
            <i class="add icon"></i> Add Rule
        </a> -->
        <a class="item" (click)="RemoveRules(context.Selected)" *ngIf="context.Selected?.length > 0">
            <i class="trash alternate outline icon"></i> Remove
        </a>
        <!-- <div class="ui dropdown item" (doobOnInit)="initContextMenu($event)">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                <a class="item"><i class="globe icon"></i> Choose Language</a>
                <a class="item"><i class="settings icon"></i> Account Settings</a>
            </div>
        </div> -->
    </div>



</ng-template>
