<div class="absolute-flex">

    <div>

        <h3>Endpoint Rules</h3>
        {{lastOrder}}
        <div class="ui button" (click)="createRule()">Create</div>
        <div class="ui button" (click)="SaveOrder()">Save Order</div>
    </div>


    <!-- <div>
        <table class="ui fixed single line celled report_table table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>Scheme</th>
                    <th>Host</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let rule of (rules$ | async)" (dblclick)="editRule(rule.Id)" cdkDrag>
                    <td colspan="6" class="example-custom-placeholder" *cdkDragPlaceholder>{{rule.Name}}</td>
                    <td>{{rule.Order}}</td>
                    <td>{{rule.Name}}</td>
                    <td>{{rule.Scheme}}</td>
                    <td>{{rule.Hostname}}</td>
                    <td>{{rule.Path}}</td>
                    <td>{{FormatActions(rule.Actions)}}</td>
                </tr>
            </tbody>

        </table>
    </div> -->
    <middler-rules [rules]="rules$ | async">

    </middler-rules>



    <div class="summary">
        Es sind insgemsamt {{(rules$ | async)?.length}} Endpoints
    </div>

</div>
