:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rule-item {
  margin: 10px 0px!important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 3px 1px #cecece;
  background-color: white;
  transform: scale(1);
}

.rule-item:hover {
  background-color: #ececec;
  transform: scale(1.01);
  transition: 0.1s;
}

.rule-item.selected {
    background-color: #e0e1e2;
  }


.list-item i {
  background-color: inherit !important;
}

.cdk-drop-list-dragging .list-item:hover {
  background-color: inherit;
}


.dragHandle {
  cursor: grab;
}
.list-item :hover .dragHandle {
  background-color: #e0e1e2;
}

.cdk-drop-list-dragging .dragHandle {
  cursor: inherit;
}
.cdk-drop-list-dragging .list-item :hover .dragHandle {
  background-color: inherit;
}

.new-rule.cdk-drag.cdk-drag-placeholder {
  border-radius: 0px !important;
  background-color: #2f2f2f;
  color: whitesmoke;
}

.list-item.cdk-drag.cdk-drag-placeholder {
  border-radius: 0px !important;
  background-color: #2f2f2f;
  color: whitesmoke;
}

.outer.cdk-drop-list-dragging > .new-rule.cdk-drag.cdk-drag-placeholder {
  display: none;
}
