<div style="flex-grow:1">
    <as-split direction="horizontal" unit="pixel" gutterSize="5">

        <as-split-area minSize="200" size="200"
            style="display: flex; flex-direction: column; flex-grow: 1;overflow: hidden;background-color: #d6d6d6;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;overflow: hidden;">
                <h2 style="text-align: center;padding-top: 10px;">Folders</h2>
                <tree-root [nodes]="(nodes$ | async) || []" [options]="options" style="flex-grow: 1; overflow: hidden;"
                    (contextmenu)="open($event)" #tree>

                    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                        <div class="node-wrapper" xaStopClickPropagation
                            [class.selected]="(variablesService.SelectedFolder$ | async)?.Path == node.data.Path"
                            [style.padding-left]="node.getNodePadding()" (click)="node.mouseAction('click', $event)"
                            (contextmenu)="node.mouseAction('contextMenu', $event)">


                            <!-- <tree-node-expander style="margin-left: 10px;" [node]="node"></tree-node-expander> -->
                            <div style="display:flex; flex-direction:row; padding-left: 10px;">
                                <div class="expander-area" *ngIf="node.hasChildren" (click)="clickFolderExpander(node, $event)"
                                    style="width: 20px; padding-left: 6px;">
                                    <i class="fitted angle right icon" style="padding-top:3px; width: 8px;"
                                        *ngIf="!node.isExpanded"></i>
                                    <i class="fitted angle down icon" style="padding-top:3px; width: 8px;"
                                        *ngIf="node.isExpanded"></i>
                                </div>
                                <div *ngIf="!node.hasChildren" style="width: 20px; padding-left: 6px;">

                                </div>
                                <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
                                    [class.node-content-wrapper-focused]="node.isFocused"
                                    (click)="node.mouseAction('click', $event)"
                                    (dblclick)="node.mouseAction('dblClick', $event)"
                                    (contextmenu)="node.mouseAction('contextMenu', $event)"
                                    (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
                                    [treeDragEnabled]="node.allowDrag()">
                                    <div *ngIf="node.data.edit">
                                        <input [value]="node.data.Name" [doobSetFocus] #nameinput style="width: 95%;"

                                        (keydown.enter)="nameinput.blur()"
                                        (keydown.escape)="cancelCreateOrRenameFolder(node, $event)"
                                        (blur)="saveName(node, nameinput, $event)"
                                        (focus)="SelectIfCreateFolder(node, $event)"
                                        />
                                    </div>
                                    <tree-node-content *ngIf="!node.data.edit"
                                        [class.selected]="(variablesService.SelectedFolder$ | async)?.Path == node.data.Path"
                                        [node]="node" [index]="index"></tree-node-content>
                                </div>
                            </div>
                        </div>
                    </ng-template>


                </tree-root>
            </div>

        </as-split-area>
        <as-split-area size="*">
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Extension</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ItemsInPath$ | async">
                        <td>{{item.Name}}</td>
                        <td>{{item.Extension}}</td>
                        <td>{{item.CreatedAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td>{{item.UpdatedAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <pre>{{ItemsInPath$ | async | json}}</pre>
        </as-split-area>
    </as-split>

</div>

<ng-template #contextMenu let-context>


    <div class="ui vertical secondary menu folder-context"
        style="box-shadow: 2px 2px 4px 1px rgba(82, 94, 118, 0.7); background-color: whitesmoke;">
        <div class="item"
            style="text-align: center; font-weight: bold; background-color: #292f3b; color: whitesmoke; border:1px solid whitesmoke">
            {{context.Folder?.Name || "/"}}
        </div>
        <a class="item" (click)="CreateSubFolder(context.Node)">
            <i class="folder outline icon"></i> Create Subfolder
        </a>
        <a class="item" (click)="DeleteDirectory(context.Folder)" *ngIf="context.Folder">
            <i class="trash alternate outline icon"></i> Delete Folder
        </a>
        <a class="item" (click)="RenameFolder(context.Node)" *ngIf="context.Folder">
            <i class="edit icon"></i> Rename Folder
        </a>

    </div>



</ng-template>
