:host {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}


.node-content-wrapper {
    padding-left: 0px;
}
.node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
    box-shadow: none;
}

.node-content-wrapper:hover {
    background: none;
}

tree-node-content.selected {
    color: white;
    text-shadow: 0 0 1px white;
}

.node-wrapper {
    padding: 0.3em;
}

.node-wrapper:hover {
    background-color: whitesmoke;
}

.node-wrapper.selected {
    background-color: #525e76;
    color: white;
}

.node-wrapper.selected:hover {
    background-color: #525e76d4;
    color: white;
}

.expander-area:hover i {
    text-shadow: 0 0 4px #525e76;
}

.node-wrapper.selected .expander-area:hover i {
    text-shadow: 0 0 6px white;
}

.folder-context .item {
    margin:0px!important;
}


