
<action-basic-modal (ok)="ok()" (cancel)="cancel()" [form]="form">
    <form [formGroup]="form" class="ui form">

        <div class="field flex-grow-column">
            <db-editor formControlName="SourceCode" [language]="form.value.Language" [typings]="(typings$ | async)" [tsOptions]="{noLib: true}">
            </db-editor>
        </div>

        <ng-template dbPortalTemplate="ActionModalHeader-Left">
            Script
        </ng-template>

        <ng-template dbPortalTemplate="ActionModalHeader-Right">
            <div class="fields">
                <div class="four wide field">
                    <db-dropdown formControlName="Language" class="selection" #lang>
                        <db-item value="Typescript">Typescript</db-item>
                        <db-item value="Javascript">Javascript</db-item>
                        <db-item value="Powershell">Powershell</db-item>
                    </db-dropdown>
                </div>
            </div>
        </ng-template>

    </form>
</action-basic-modal>

