<div class="ui top attached segment modal-header" style="padding: 10px !important; display:flex">
    <div style="font-size: 2em;font-weight: bold; line-height: 1.4285em; color: whitesmoke; margin: auto;">
        <ng-container class="Irgendwos" dbPortal="ActionModalHeader-Left" #left="dbPortal"></ng-container>
        <div *ngIf="!left.hasSource">Action</div>
    </div>
    <div style="flex-grow: 1;"></div>
    <div>
        <ng-container dbPortal="ActionModalHeader-Right"></ng-container>
    </div>
</div>
<div class="ui attached segment modal-content">
    <ng-content></ng-content>
</div>
<div class="ui bottom attached segment modal-footer" style="margin-bottom: 0px;">
    <button class="ui primary button" style="flex-grow: 1;" (click)="ok.next()" [disabled]="!form.valid">Save</button>
    <button class="ui grey button" style="flex-grow: 1;margin-right: 0px;" (click)="cancel.next()">Cancel</button>
</div>
