

<div style="flex-grow: 1; display: flex; position: relative">
    <ag-grid-angular [dbGrid]="grid" class="ag-theme-balham no-scrollbar" cdkDropList></ag-grid-angular>
    <!-- <div class="secrets-manager-sidebar" [class.open]="sideBarOpen">
        <div style="height: 100%; background-color: white;">
            <add-secrets-list [selectedSecrets]="secrets" (selectedSecretsChanged)="SecretsChanged($event)" (closeSidebar)="this.sideBarOpen = false"></add-secrets-list>
        </div>
        
    </div> -->
</div>

<ng-template #viewportContextMenu let-context>
    <ul nz-menu nzMode="vertical" class="context-menu">
        <li nz-menu-item (click)="AddSecret()">
            <fa-icon nz-icon [icon]="['far', 'plus-square']"></fa-icon>
            Add Secret
        </li>
    </ul>
</ng-template>

<ng-template #itemsContextMenu let-context>
    <ul nz-menu nzMode="vertical" class="context-menu">
        <li nz-menu-item (click)="AddSecret()">
            <fa-icon nz-icon [icon]="['far', 'plus-square']"></fa-icon>
            Add Secret
        </li>
        <li nz-menu-item (click)="RemoveSecret(context.SelectedData)" *ngIf="context.Any">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            Delete
        </li>
    </ul>
</ng-template>

